<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Upateco</title>
</head>
<body>
    <header>
        <h1>Bienvenidos discord a Upateco</h1>
    </header>
    <main>
        <form id="formulario">
            <label>Username</label>
            <input type="text" name="username" id="username" />
            <label>Contraseña</label>
            <input type="password" id="password"/>
            <button type="submit">Ingresar</button>
            <div id="mensajeError" style="color: red;"></div>  
        </form>
    </main>
   <script src="../scripts/login.js" ></script>
</body>
</html>