<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <title>Discord Upateco</title>
</head>
<body class="gradient-background">
    <header>
        <div id="bievenidaLogin"><h1 >Bienvenidos discord Upateco</h1></div>
        
    </header>
    <main>
        <div id="contenedorLogin">
        <form id="formulario">
            <label id="labelLogin">Username</label>
            <input type="text" name="username" id="username" />
            <label id="labelLogin">Contraseña</label>
            <input type="password" name="password" id="password"/>
            <button type="submit" id="btnLogin">Ingresar</button>
            <div id="mensajeErrorLg" style="color: red;"></div>  
        </form>
    </div>
    </main>
   <script src="../scripts/login.js" ></script>
</body>
</html>