<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Discord upateco</title>
</head>
<body class="gradient-background">
    <header>
        <h1>Discord upateco</h1>
        <button id="btnLogout">Cerrar Sesión</button>
    </header>
    <main id="contenedorServ">
       
        <div id="contServ">
            
            <div id="tresElment">
                <div id="botonesContainer">
                    <!-- Otro contenido -->
                  </div>
                  <div id="informacionContainer" class="menu-hidden">
                    <!-- Aquí se mostrará la información relacionada al botón clickeado -->
                  </div>
                <div id="agregarServ"><button id="btnCrear" data-tooltip="Crear server"><i class="fa-solid fa-circle-plus" ></i></button></span></div>
                <div id="buscarServ"><button data-tooltipR="Buscar servidor"><i class="fa-solid fa-compass"></i></button></div>
                <div id="logServ">Logueado</div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                      <span class="close" id="closeModal">&times;</span>
                        <form id="serverForm" >
                          
                          <label id="labelServ">Nombre del nuevo servidor</label>
                          <input type="text" id="nServer"/>

                          <label id="labelDesc">Descripcion del nuevo</label>
                          <input type="text" id="description"/>
                                 
                          <button type="submit" id="btnConfirm">Confirmar</button>
                          <button type="submit" id="btnCancel">Cancelar</button> 
                          
                        </form>
                    </div>
                </div> 
            </div>
            <div id="dataServ"><p id="textServ">Aún no te has unido a un servidor
                Intenta buscar uno o crea uno propio</p>
            </div>

            <div class="message" id="msgContent">
                <div class="contenedorMsg">
                    <input type="text" name="msg" id="msg" placeholder="Escribe Aquí...">
                    <button class="btnEnviar" type="button" id="btn"><i class="fa-solid fa-share"></i></button>
                </div>
            </div>
            
        </div>
    </main>
    <script src="https://kit.fontawesome.com/a641a5dcda.js" crossorigin="anonymous"></script>
    <script src="../scripts/servidores.js"></script>
</body>
</html>